* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    background: linear-gradient( 103.3deg,  rgba(252,225,208,1) 30%, rgba(255,173,214,1) 55.7%, rgba(162,186,245,1) 81.8% );
    position: relative;
    overflow: hidden;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

.glass {
    min-height: 60vh;
    background-color: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
    width: 80%;
    max-width: 331.2px;
    border-radius: 20px;
    z-index: 2;
    backdrop-filter: blur(5px);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 1rem;
}

.square1,
.square2 {
    width: 150px;
    height: 150px;
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.3)
      );
      position: absolute;
      border-radius: 50%;
      transition: 0.5s;               
} 
 
@keyframes cowmove{
    0% {
      transform: translateY(0px) rotateY(0deg);
    }
    49% {
      transform: translateY(350px) rotateY(0deg);
    }
    50% {
      transform: translateY(350px) rotateY(0deg);
    }
    100% {
      transform: translateY(0px) rotateY(0deg);
    }
}


.square1 {
    top: 10%;
    right: -10%;
    animation: cowmove 4s infinite; 
}

.square2 {
    bottom: 10%;
    left: -10%;
    animation: rowmove 4s infinite;
}

@keyframes rowmove{
    0% {
      transform: translateY(0px) rotateY(0deg);
    }
    49% {
      transform: translateY(-350px) rotateY(0deg);
    }
    50% {
      transform: translateY(-350px) rotateY(0deg);
    }
    100% {
      transform: translateY(0px) rotateY(0deg);
    }
}

.glass div {
    text-align: center;
}

img {
    border-radius: 50%;
    width: 40%;
    height: 40%;
    border: 3px solid #426696;
}

.glass .link {
  width: 90%;
  height: auto;
  background: white;
  background: linear-gradient(to left top,
  rgba(255, 255, 255, 0.6),
  rgba(255, 255, 255, 0.5));
  opacity: 0.8;
  border-radius: 50px;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

a {
    display: block;
    text-decoration: none;
    
    padding: 0.5rem;
    text-align: center;
}

h1 {
  font-size: 1.6rem;
  color: #658ec6;
  font-weight: 500;

}


h2 {
    color: #426696;
  font-weight: 600;
  font-size: 1.6rem;
  opacity: 0.8;
  margin-top: 5px;
  
}